{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

{{queue-navigator model=model.queues selected=model.selected
  used="usedCapacity" max="absMaxCapacity" setFilter=(action setFilter)}}

<div class="yarn-compose-box yarn-queues-container">
  <div>
    <h3>
      <a href="#/yarn-queue/{{model.selected}}/apps">
        {{model.selected}}
      </a>
    </h3>
    {{#if model.selectedQueue.state}}
      <div>
        {{em-table-simple-status-cell content=model.selectedQueue.state}}
      </div>
    {{/if}}

    {{yarn-queue-partition-capacity-labels partitionMap=model.selectedQueue.partitionMap queue=model.selectedQueue filteredPartition=filteredPartition}}
  </div>

  <h5> Running Apps From All Users in Queue </h5>
  <div id="numapplications-donut-chart">
    {{donut-chart data=model.selectedQueue.numOfApplicationsDonutChartData
    showLabels=true
    parentId="numapplications-donut-chart"
    ratio=0.6
    maxHeight=350}}
  </div>
</div>
