{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

{{breadcrumb-bar breadcrumbs=breadcrumbs}}

<div class="panel-group">
  <div class="panel panel-default">
    <div class="yarn-app-header">
      <div class="flex">
        <div>
          <div class="flex">
            <div>
              <h3 class="yarn-app-name">
                {{#if model.app.unmanagedApplication}}
                  <span title="This is an unmanaged application" class="yarn-tooltip">
                    <i class="glyphicon glyphicon-exclamation-sign glyphicon-gray" />
                  </span>
                {{/if}}
                {{model.app.appName}}
              </h3>
            </div>
            {{#if model.app.finalStatus}}
            <div title="Final status: {{model.app.finalStatus}}" class="yarn-tooltip yarn-app-final-status offset-1">
              <span class={{model.app.finalStatusStyle}}>
                {{model.app.finalStatus}}
              </span>
            </div>
            {{/if}}
          </div>
          <div title="Application id" class="muted-text">{{model.app.id}}</div>
          <div>{{em-table-simple-status-cell content=model.app.state}}</div>
          <div class="flex">
            <div class="tail-2">
              <i class="glyphicon glyphicon-user glyphicon-gray"/> 
              {{model.app.user}}
            </div>
            <div><i class="glyphicon glyphicon-time glyphicon-gray" /> 
              Started at {{model.app.startTime}} 
            </div>
          </div>
          
          {{#unless model.app.serviceName}} {{!--
          <div>Progress: =>
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style={{model.app.app.progressStyle}}>
                {{model.app.progress}}%
              </div>
            </div>
          </div> --}}
          
          {{/unless}}
        </div>
        
        <div class="flex-right">
          <div title="Queue" class="yarn-tooltip"><i class="glyphicon glyphicon-tasks glyphicon-gray" />{{model.app.queue}}</div>
          <div title="Elapsed time" class="yarn-tooltip"><i class="glyphicon glyphicon-dashboard glyphicon-gray" /> Runtime {{model.app.formattedElapsedTime}}</div>
          <div>Finished Time:{{model.app.validatedFinishedTs}}</div>
          <div>Priority {{model.app.priority}}</div>
        </div>
      </div>
    </div>
    <div class="panel-heading">
      <div class="clearfix">
        <ul class="nav nav-pills">
          <ul class="nav nav-pills collapse in">
            {{#link-to 'yarn-app.info' tagName="li" class=(if (eq target.currentPath 'yarn-app.info') "active")}}
              {{#link-to 'yarn-app.info' appId (query-params service=serviceName)}}Information{{/link-to}}
            {{/link-to}}
            {{#link-to 'yarn-app.attempts' tagName="li" class=(if (eq target.currentPath 'yarn-app.attempts') "active")}}
              {{#link-to 'yarn-app.attempts' appId (query-params service=serviceName)}}Attempts List{{/link-to}}
            {{/link-to}}
            {{#link-to 'yarn-app.charts' tagName="li" class=(if (eq target.currentPath 'yarn-app.charts') "active")}}
              {{#link-to 'yarn-app.charts' appId (query-params service=serviceName)}}Resource Usage{{/link-to}}
            {{/link-to}}
            {{#if serviceName}}
              {{#link-to 'yarn-app.components' tagName="li" class=(if (eq target.currentPath 'yarn-app.components') "active")}}
                {{#link-to 'yarn-app.components' appId (query-params service=serviceName)}}Components{{/link-to}}
              {{/link-to}}
              {{#link-to 'yarn-app.configs' tagName="li" class=(if (eq target.currentPath 'yarn-app.configs') "active")}}
                {{#link-to 'yarn-app.configs' appId (query-params service=serviceName)}}Configurations &amp; Metrics{{/link-to}}
              {{/link-to}}
            {{/if}}
          </ul>
        </ul>
      </div>
    </div>
    <div class="panel-body">
      {{outlet}}
    </div>
  </div>
</div>


