{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="row">
      {{#if (eq model.queues.firstObject.type "capacity")}}
        {{yarn-queue.capacity-queue-info model=model}}
      {{else if (eq model.queues.firstObject.type "fair")}}
        {{yarn-queue.fair-queue-info model=model}}
      {{else}}
        {{yarn-queue.fifo-queue-info model=model}}
      {{/if}}
    </div>
  </div>
  <div class="col-lg-12 col-md-12 yarn-applications-container">
    {{#if model.apps}}
      {{em-table columns=columns rows=model.apps  definition=tableDefinitio}}
    {{else}}
      <br>
      <div class="panel panel-default">
        <h4 align = "center">Could not find any applications from this cluster</h4>
      </div>
    {{/if}}
  </div>
  {{!-- Active User Info --}}
  {{#if model.selectedQueue.users}}
  <div class="col-lg-12 col-md-12">
    <div class="panel panel-default active-user-panel">
      <div class="panel-heading">
        Active User Info: {{ model.selected }}
      </div>
      <div class="panel-body">
        <table class="table table-striped table-bordered active-user-table">
          <thead>
            <tr>
              <th>User Name</th>
              <th>Max Resource</th>
              <th>Used Resource</th>
              <th>Max AM Resource</th>
              <th>Used AM Resource</th>
              <th>Active Apps</th>
              <th>Pending Apps</th>
              <th>Weight</th>
            </tr>
          </thead>
          <tbody>
            <tr style="display: none">
              {{!-- Fix to start odd row background color from third row --}}
            </tr>
            {{#each model.selectedQueue.users as |user|}}
            <tr>
              <td>{{ user.name }}</td>
              <td>&lt;memory: {{user.maxMemoryMB}} MB, vCores: {{user.maxVCore}}&gt;</td>
              <td>&lt;memory: {{user.usedMemoryMB}} MB, vCores: {{user.usedVCore}}&gt;</td>
              <td>&lt;memory: {{user.maxAMMemoryMB}} MB, vCores: {{user.maxAMVCore}}&gt;</td>
              <td>&lt;memory: {{user.amUsedMemoryMB}} MB, vCores: {{user.amUsedVCore}}&gt;</td>
              <td>{{user.activeApps}}</td>
              <td>{{user.pendingApps}}</td>
              <td>{{user.userWeight}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{/if}}
</div>
