<table id="container-table" class="table table-striped table-bordered" cellspacing="0" width="100%" height="100%">
  <tbody>
    <tr>
      <td>Start Time</td>
      <td>{{container.startedTime}}</td>
    </tr>
    <tr>
      <td>Finished Time</td>
      <td>{{container.finishedTime}}</td>
    </tr>
    <tr>
      <td>Elapsed Time</td>
      <td>{{container.elapsedTime}}</td>
    </tr>
    <tr>
      <td>Priority</td>
      <td>{{container.priority}}</td>
    </tr>
    <tr>
      <td>Log</td>
      <td><a href={{container.logUrl}}>link</a></td>
    </tr>
    <tr>
      <td>Exit Status</td>
      <td>{{container.containerExitStatus}}</td>
    </tr>
    <tr>
      <td>State</td>
      <td>{{container.containerState}}</td>
    </tr>
    <tr>
      <td>NodeManager UI</td>
      <td>{{container.nodeHttpAddress}}</td>
    </tr>
  </tbody>
</table>