<div class="col-md-12 container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{#if attemptModel}}
        Application Attempts
      {{else}}
        Containers
      {{/if}}
    </div>
    <div class="panel-body">
      <div class="col-md-8 container-fluid" id={{parent-id}}>
      </div>

      <!-- diag info -->
      <div class="col-md-4 container-fluid">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{#if selected.link}}
              <a href={{selected.link}}>{{selected.id}}</a>
            {{else}}
              {{selected.id}}
            {{/if}}
          </div>
          {{#if attemptModel}}
            {{app-attempt-table attempt=selected}}
          {{else}}
            {{container-table container=selected}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}