{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<div class="panel panel-default">
  <div class="panel-heading">Gpu Information - (Minor
    Number {{gpu.minorNumber}})
  </div>
  <table class="table">
    <tbody>
    <tr>
      <td>Product Name</td>
      <td>{{gpu.productName}}</td>
    </tr>
    <tr>
      <td>UUID</td>
      <td>{{gpu.uuid}}</td>
    </tr>
    <tr>
      <td>Current Temperature</td>
      <td>{{gpu.temperature.currentGpuTemp}}</td>
    </tr>
    <tr>
      <td>Max Temperature</td>
      <td>{{gpu.temperature.maxGpuTemp}}</td>
    </tr>
    </tbody>
  </table>

  <div class="col-md-5 container-fluid" id="mem-donut-chart{{gpu.minorNumber}}">
    {{gpu-donut-chart gpuInfo=gpu
                      showLabels=true
                      parentId="mem-donut-chart"
                      middleLabel = "Gpu Memory"
                      ratio=0.6
                      type="memory"
                      gpu-render-type = "gpu-memory"
                      colorTargets="good"
                      colorTargetReverse=true
                      maxHeight=350}}
  </div>

  <div class="col-md-5 container-fluid" id="utilization-donut-chart{{gpu.minorNumber}}">
    {{gpu-donut-chart gpuInfo=gpu
                      showLabels=true
                      parentId="utilization-donut-chart"
                      middleLabel = "Gpu Utilization"
                      ratio=0.6
                      gpu-render-type = "gpu-utilization"
                      colorTargets="good"
                      colorTargetReverse=true
                      suffix="%"
                      maxHeight=350}}
  </div>
</div>